/KannelSendingHandler
/kannel-dbgsym_1.4.5-22_amd64.ddeb
/kannel-dev_1.4.5-22_amd64.deb
/kannel-docs_1.4.5-22_all.deb
/kannel-extras-dbgsym_1.4.5-22_amd64.ddeb
/kannel-extras_1.4.5-22_amd64.deb
/kannel-portable
/kannel_1.4.5-22_amd64.buildinfo
/kannel_1.4.5-22_amd64.changes